/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#hikingparallex {
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}

#concertparallex {
  -webkit-filter: brightness(47%);
  filter: brightness(47%);
}

.topBottomPad {
  padding-top: 55px;
  padding-bottom: 40px;
}

.btn-flat {
  text-transform: none;
}

.moreUsers {
  border-radius: 20px;
  background-color: #3C53A4;
  color: white;
}

.moreUsers:hover {
  background-color: black;
}

.submitNewEvent:hover {
  background-color: black;
}

button:hover {
  background-color: black !important;
}

.dashevent:link {
  color: red;
}

.dashevent:hover {
  background-color: black !important;
  color: white !important;
}

.viewalbum:hover {
  background-color: black !important;
  color: white !important;
}

#welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purpGradient {
  background-image: -webkit-radial-gradient(circle, white, silver);
}

.frontCollage {
  -webkit-filter: opacity(80%);
  filter: opacity(80%);
}

.frontText {
  /*font-size: 36px;*/
  line-height: 45.9px;
  color: rgb(72, 100, 168)
}

.words {
  font-size: 30px;
}

.footerPics {
  max-width: 65px;
  margin: 10px;
}

/*editable table CSS*/
@import "compass/css3";

.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #d1d1d1;
}

#ProPic {
  max-width: 100px;
  max-height: 100px;
}
